<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
  <tbody>
    <tr>
      <td>Диагональ</td>
      <td>{{ product.diagonal }}</td>
    </tr>
        <tr>
      <td>SMART-TV</td>
      <td>{{ product.smart_tv }}</td>
    </tr>
        <tr>
      <td>Дата выпуска модели</td>
      <td>{{ product.release }}</td>
    </tr>
    <tr>
      <td>Разрешение</td>
      <td>{{ product.resolution }}</td>
    </tr>
    <tr>
  </tbody>
</table>
</body>
</html>