<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
  <tbody>
    <tr>
      <td>Вид спорта</td>
      <td>{{ product.kind_of_sport }}</td>
    </tr>
        <tr>
      <td>Материал</td>
      <td>{{ product.material }}</td>
    </tr>
        <tr>
      <td>Цвет</td>
      <td>{{ product.colour }}</td>
    </tr>
        <tr>
      <td>Страна производства</td>
      <td>{{ product.country }}</td>
    </tr>
    <tr>
  </tbody>
</table>
</body>
</html>
